*.iml
.gradle
.kotlin
.idea
/public
## OSX Specific
.DS_Store
## Build folders
**/build
**/out
/captures
.externalNativeBuild
.cxx
/tmp
## Local settings
local.properties

## files pulled in from external sources
library/src/main/cpp/openjpeg
