---
include:
  - project: 'youniqx/infrastructure/ci-commons'
    ref: v1.88.116
    file: 'global.yaml'
  - project: 'youniqx/infrastructure/ci-commons'
    ref: v1.88.116
    file: 'docker.yaml'
  - project: 'youniqx/infrastructure/ci-commons'
    ref: v1.88.116
    file: 'release.yaml'
  - component: $CI_SERVER_FQDN/youniqx/mia/ci-templates/disable-ltex@main

default:
  retry: 2

variables:
  VAULT_SERVER_URL: https://vault.build.youniqx.cloud
  VAULT_AUTH_ROLE: youniqx_check_at_libs_android_jp2k_sdk_unprotected

Build library:
  extends:
    - .large
  tags: [linux-unprivileged]
  stage: build
  image: harbor.youniqx.com/youniqx-cloud-infrastructure/youniqx/mia/android-build:1.14.1
  script:
    - make build
  artifacts:
    paths:
      - sdk/build
    expire_in: 1 day

release-test:
  extends: .release_test

release:
  extends: .release
  secrets:
    GITLAB_TOKEN:
      vault: check-at/libs/android-jp2k-sdk/protected/semantic_release/gitlab_token@youniqx
      file: false


Publish to Gitlab:
  extends:
    - .medium
  tags: [linux-unprivileged]
  stage: release
  image: harbor.youniqx.com/youniqx-cloud-infrastructure/youniqx/mia/android-build:1.14.1
  needs:
    - job: "Build library"
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
    - if: !$CI_COMMIT_TAG
      when: manual
      allow_failure: true
  variables:
    ADDITIONAL_GRADLE_OPTION: "-Dorg.gradle.s3.endpoint=https://s3.gra.io.cloud.ovh.net"
  script:
    - echo "Pushing version:"
    - echo "${CI_COMMIT_TAG#v}"
    - make publish

# pages:
#   extends:
#     - .medium
#   tags: [linux-unprivileged]
#   image: harbor.youniqx.com/youniqx-cloud-infrastructure/youniqx/mia/android-build:1.14.1
#   script:
#     - make docs
#   rules:
#     - if: $CI_COMMIT_TAG
