---
include:
  - project: 'youniqx/infrastructure/ci-commons'
    ref: v1.89.11
    file: 'global.yaml'
  - project: 'youniqx/infrastructure/ci-commons'
    ref: v1.89.11
    file: 'docker.yaml'
  - project: 'youniqx/infrastructure/ci-commons'
    ref: v1.89.11
    file: 'release.yaml'
  - component: $CI_SERVER_FQDN/youniqx/mia/ci-templates/disable-ltex@main
  - local: 'gitlab/sbom.yml'

default:
  retry: 2

variables:
  VAULT_SERVER_URL: https://vault.build.youniqx.cloud
  VAULT_AUTH_ROLE: youniqx_check_at_libs_android_jp2k_sdk_unprotected
  RENOVATE_BRANCH: /^renovate\/.*$/

Build library:
  extends:
    - .large
  tags: [linux-unprivileged]
  stage: build
  image: harbor.youniqx.com/youniqx-cloud-infrastructure/youniqx/mia/android-build:1.14.6
  script:
    - make build
  artifacts:
    paths:
      - library/build
      - tmp
    expire_in: 1 day

UI Tests:
  extends:
    - .vault
    - .small
  tags: [linux-unprivileged]
  stage: test
  image: harbor.youniqx.com/youniqx-cloud-infrastructure/youniqx/mia/mia_gcloud_tools:1.3.78
  needs:
    - job: "Build library"
      artifacts: true
  rules:
    - if: $CI_COMMIT_REF_NAME =~ $RENOVATE_BRANCH
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_REF_NAME !~ $RENOVATE_BRANCH
  secrets:
    UI_TEST_SERVICE_ACCOUNT:
      vault: check-at/libs/android-jp2k-sdk/unprotected/service_accounts/firebase_ui_test_account@youniqx
      file: false
  variables:
    FIREBASE_PROJECT: "idcheck-6e640"
    RESULT_DIR: "results"
    TEST_TIMEOUT: "15m"
    TEST_TYPE: "instrumentation"
    APP_APK: "tmp/app.apk"
    TEST_APK: "tmp/test.apk"
  script:
    - make uitest
  artifacts:
    paths:
      - $RESULT_DIR
    expire_in: 24 hours

release-test:
  extends: .release_test

release:
  extends: .release
  secrets:
    GITLAB_TOKEN:
      vault: check-at/libs/android-jp2k-sdk/protected/semantic_release/gitlab_token@youniqx
      file: false


Publish to Gitlab:
  extends:
    - .medium
  tags: [linux-unprivileged]
  stage: release
  image: harbor.youniqx.com/youniqx-cloud-infrastructure/youniqx/mia/android-build:1.14.6
  needs:
    - job: "Build library"
      artifacts: true
    - job: "UI Tests"
  rules:
    - if: $CI_COMMIT_TAG
    - if: !$CI_COMMIT_TAG
      when: manual
      allow_failure: true
  variables:
    ADDITIONAL_GRADLE_OPTION: "-Dorg.gradle.s3.endpoint=https://s3.gra.io.cloud.ovh.net"
  script:
    - echo "Pushing version:"
    - echo "${CI_COMMIT_TAG#v}"
    - make publish

# pages:
#   extends:
#     - .medium
#   tags: [linux-unprivileged]
#   image: harbor.youniqx.com/youniqx-cloud-infrastructure/youniqx/mia/android-build:1.14.6
#   script:
#     - make docs
#   rules:
#     - if: $CI_COMMIT_TAG
